 body{
    overflow-x: hidden;
  } 

h1{
    font-family: 'Dancing Script', cursive;
}

.carousel-item img{
  width:100% ;
  height: 80vh;
}


.card-body img{
  min-width: 50%;
  max-height: 200px;
}


